<p>@ViewBag.MensajeError</p>
<form action='@Url.Action("GuardarPaquete","Home")'>
<ol>
@{

    foreach(string destino in ViewBag.ListaDestinos)
    {
        <li><img src="/images/@destino" width="200"></li>
    }
}
</ol>
    <input required type = "number" name = "Destino">
    
<ol>
@{
    foreach(string hotel in ViewBag.ListaHoteles)
    {
        <li><img src="/images/@hotel" width="200"></li>
    }
}
</ol>
    <input required type = "number" name = "Hotel">
    
<ol>
@{
    foreach(string ex in ViewBag.ListaExcursiones)
    {
    <li><img src="/images/@ex" width="200"></li>        
}
}
</ol>
    <input required type = "number" name = "Excursion">
<ol>
@{
    foreach(string aereo in ViewBag.ListaAereos)
    {
        <li><img src="/images/@aereo" width="200"></li>   }
}
</ol>
    <input required type = "number" name = "Aereo">
    
    <input type="submit">
</form>
